.trivia{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content:space-around;
}
.question{
   width: 80%;
   background: linear-gradient(#100241,black);
   border: 3px solid white;
   text-align: center;
   padding: 20px;
   border-radius: 10px;
   font-size: 20px;
}
.answers{
    width: 100%;
    display: flex;
    text-align: center;
    flex-wrap:wrap;
    justify-content: center;
    margin-top: -50px;
}
.answer{
    width: 40%;
    background: linear-gradient(#0e0124,#22074d);
    border: 1px solid white;
   text-align: center;
   padding: 10px;
   border-radius: 15px;
   font-size: 20px;
   font-weight: 300;
   margin: 0px 10px 20px 10px;
   cursor: pointer;
}
.answer.active,
.answer:hover{
    background: mediumblue;
}
.answer.correct{
    animation: correct 1.5s ease forwards;
}

@keyframes correct{
    0%,22%,42%{
        background: mediumblue;
    }
    20%,40%,60%{
        background: linear-gradient(#0e0124,#22074d);
    }
    62%,100%{
        background: rgb(1, 98, 1);
    }

}
.answer.wrong{
    animation: wrong 1.5s ease forwards;
}

@keyframes wrong{
    0%,22%,42%{
        background: mediumblue;
    }
    20%,40%,60%{
        background: linear-gradient(#0e0124,#22074d);
    }
    62%,100%{
        background: rgb(231, 6, 6);
    }

}